header
    div(class="logo")
        nav 
            ul  
                li
                    a(href="/") HOME 
                li 
                    a(href="/profile") PROFILE 
                li 
                    a(href="/account") SIGN IN/SIGN UP 
                li 
                    a(href="/search") SEARCH 
                li 
                    a(href="/contribute") CONTRIBUTE 
                li
                    a(href="/user") ALL USERS